.wFrame {
	border: 1px solid #454A54;
	background-color: #FFF;
	position: relative;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	overflow: hidden;
	min-width: 470px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.wFrame .frameHeader {
	background: linear-gradient(#5E6570, #454A54);
	background: -webkit-linear-gradient(#5E6570, #454A54);
	background: -moz-linear-gradient(#5E6570, #454A54);
	border-bottom: 1px solid #454A54;
	text-align: left;
	padding: 10px;
	position: relative;
	text-transform: capitalize;
	overflow: auto;
	line-height: 16px;
	font-weight: bold;
	color: #FFF;
}

.wFrame .frameHeader .closeBtn {
	float: right;
	width: 16px;
	height: 16px;
	text-align: center;
	background: url('%resources%/UI/closeX.svg') no-repeat;
	background-size: cover;
	background-position: 0px 0px;
	cursor: pointer;
	opacity: 0.6;
	transition: opacity .2s ease-in-out;
	-webkit-transition: opacity .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out;
}

.wFrame .frameHeader .closeBtn:hover {
	opacity: 1;
	transition: opacity .2s ease-in-out;
	-webkit-transition: opacity .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out;
}

.wFrame > .frameBody {
	position: relative;
	min-width: 450px;
	min-height: 40px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

@media screen and (max-width: 500px) {
	.wFrame {
		min-width: 300px;
	}
	.wFrame > .frameBody {
		min-width: 280px;
	}
}