/*____________________ developer.cssEditor ____________________*/
.cssEditor {
	width:100%;
	height:100%;
}
.cssEditor .previewContainer {
	width:100%;
	height:100%;
	position:relative;
	border:1px solid #999;
	padding-bottom:30px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	float:left;
}
.cssEditor .previewContainer:only-of-type {
	border:1px solid transparent;
}
.cssEditor .structureWrapper, .cssEditor .previewWrapper {
	width:100%;
	height:100%;
	overflow:auto;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	position:relative;
	padding:5px;
}
.cssEditor .modelEditor {
	width:100%;
	height:100%;
	padding-bottom:30px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	position:relative;
	border: 1px solid #999;
}

.cssEditor .viewOptions {
	position:absolute;
	top:0;
	right:0;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding: 6px 3px;
	z-index:1;
	pointer-events: none;
}

.cssEditor .viewOptions .horizontalSplit, .cssEditor .viewOptions .verticalSplit {
	height:26px;
	width:26px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	pointer-events: all;
	padding:3px;
	opacity:0.1;
	cursor:pointer;
	border:1px solid #999;
}
.cssEditor .viewOptions .horizontalSplit {
	display:inline-block;
}
.cssEditor .viewOptions .verticalSplit {
	position:relative;
}
.cssEditor .viewOptions .horizontalSplit:hover, .cssEditor .viewOptions .verticalSplit:hover {
	opacity:1;
}

.cssEditor .previewBar {
	line-height:30px;
	width:100%;
	height:30px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	text-align:center;
	border-top: 1px solid #999;
	cursor: default;
	position:absolute;
	bottom:1px;
	left:1px;
	right:1px;
}

.cssEditor .previewBar .previewTool {
	height:24px;
	line-height:24px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	cursor:pointer;
	display:inline-block;
	margin-left:5px;
	width:100px;
}
.cssEditor .previewBar .previewTool > * {
	height:100%;
	width:100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	border: 1px solid #999;
	display:inline-block;
	outline:none;
	margin:0;
}
.cssEditor .previewBar .previewTool > span {
	padding:1px 3px;
}
.cssEditor .previewBar .previewTool > select {
	padding:3px;
}


/* path */
.cssEditor .structureWrapper > .path {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	border-bottom:1px dashed black;
	margin: 0px 20px;
	cursor:default;
	line-height:20px;
	min-height:21px;
}
.cssEditor .structureWrapper > .pathSibling {
	height:20px;
	line-height:20px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	margin: 0px 20px;
}
.cssEditor .structureWrapper > .pathSibling:hover {
	cursor: pointer;
    	text-decoration:line-through;
}
.cssEditor .structureWrapper > .path > .element {
	position:relative;
	transition: background-color 1s;
    	-moz-transition: background-color 1s;
    	-webkit-transition: background-color 1s;
    	-o-transition: background-color 1s;
}
.cssEditor .structureWrapper > .path > .element > edit {
	display:none;
}
.cssEditor .structureWrapper > .path > .element:hover, .cssEditor .structureWrapper > .path > .pseudoClass:hover, .cssEditor .structureWrapper > .path > .pseudoElement:hover {
	cursor: pointer;
    	background-color:rgba(100, 149, 237, 0.5);
    	transition: background-color 0.3s;
    	-moz-transition: background-color 0.3s;
    	-webkit-transition: background-color 0.3s;
    	-o-transition: background-color 0.3s;
}
.cssEditor .structureWrapper > .path > .element:hover > .edit {
	display:inline-block;
	height:8px;
	width:8px;
	background:black;
	position:absolute;
	top:-2px;
	transition: height 0.5s, width 0.5s;
    	-moz-transition: height 0.5s, width 0.5s;
    	-webkit-transition: height 0.5s, width 0.5s;
    	-o-transition: height 0.5s, width 0.5s;
}
.cssEditor .structureWrapper > .path > .element:hover > .edit:hover {
	height:12px;
	width:12px;
	transition: height 0.3s, width 0.3s;
    	-moz-transition: height 0.3s, width 0.3s;
    	-webkit-transition: height 0.3s, width 0.3s;
    	-o-transition: height 0.3s, width 0.3s;
}

.cssEditor .structureWrapper > .path > .relation {
	transition: background-color 1s;
    	-moz-transition: background-color 1s;
    	-webkit-transition: background-color 1s;
    	-o-transition: background-color 1s;
}
.cssEditor .structureWrapper > .path > .relation:hover {
	cursor: pointer;
    	background-color:rgba(192, 4, 3, 0.6);
    	transition: background-color 0.3s;
    	-moz-transition: background-color 0.3s;
    	-webkit-transition: background-color 0.3s;
    	-o-transition: background-color 0.3s;
}
.cssEditor .structureWrapper > .path > .plus:only-child, .cssEditor .structureWrapper > .path > .plus:not(:first-of-type) {
	display:none;
}
.cssEditor .structureWrapper > .path > .plus {
	width:16px;
	height:16px;
	background: orange;
	display:inline-block;
	vertical-align:middle;
}
.cssEditor .structureWrapper > .path > .plus:hover {
	cursor:pointer;
}
.cssEditor .structureWrapper > .path > .pseudoClass:hover, .cssEditor .structureWrapper > .path > .pseudoElement:hover {
	background-color:rgba(192, 4, 3, 0.6);
	transition: background-color 0.3s;
    	-moz-transition: background-color 0.3s;
    	-webkit-transition: background-color 0.3s;
    	-o-transition: background-color 0.3s;
	cursor:crosshair;
}
.cssEditor .structureWrapper > .path .editableArea {
	cursor:text;
	outline:none;
	height:20px;
}
.cssEditor .structureWrapper > .path .editableArea:empty:not(:focus) {
	padding-left:3px;
}
/*.cssEditor .structureWrapper > .path .editableArea:empty:not(:focus):after {
	content:"{empty}";
}*/
.cssEditor .structureWrapper > .path .element > .equality:hover {
	background:rgba(100, 149, 237, 1);
}

/* Structure Viewer */
.cssEditor .structureWrapper > .structureViewer {
	padding:5px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}
.cssEditor .structureWrapper > .structureViewer * {
    padding-left:20px;
    transition: background-color 1s;
    -moz-transition: background-color 1s;
    -webkit-transition: background-color 1s;
    -o-transition: background-color 1s;
    cursor: default;
}
.cssEditor .structureWrapper > .structureViewer .elementTag, .cssEditor .structureWrapper > .structureViewer .elementClass, .cssEditor .structureWrapper > .structureViewer .elementId, .cssEditor .structureWrapper > .structureViewer .elementAttr {
    padding-left:0 !important;
    display:inline;
}
.cssEditor .structureWrapper > .structureViewer .elementClass.mirror, .cssEditor .structureWrapper > .structureViewer .elementTag.mirror {
    background-color:rgba(143, 188, 143, 0.2);
    transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
}
.cssEditor .structureWrapper > .structureViewer .elementClass:hover, .cssEditor .structureWrapper > .structureViewer .elementTag:hover, .cssEditor .structureWrapper > .structureViewer .elementId:hover, .cssEditor .structureWrapper > .structureViewer .elementAttr:hover {
    cursor: pointer;
    transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
}
.cssEditor .structureWrapper > .structureViewer .elementClass:hover {
    background-color:rgba(100, 149, 237, 0.6);
}
.cssEditor .structureWrapper > .structureViewer .elementTag:hover {
    background-color:rgba(100, 149, 237, 0.3);
}
.cssEditor .structureWrapper > .structureViewer .elementId:hover {
    background-color:rgba(100, 149, 237, 1);
}
.cssEditor .structureWrapper > .structureViewer .elementAttr:hover {
    background-color:rgba(100, 149, 237, 0.6);
}
.cssEditor .structureWrapper > .structureViewer .elementClass.active, .cssEditor .structureWrapper > .structureViewer .elementTag.active, .cssEditor .structureWrapper > .structureViewer .elementId.active, .cssEditor .structureWrapper > .structureViewer .elementAttr.active {
    transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
}
.cssEditor .structureWrapper > .structureViewer .elementClass.active {
    background-color:rgba(143, 188, 143, 0.6);
}
.cssEditor .structureWrapper > .structureViewer .elementTag.active {
    background-color:rgba(143, 188, 143, 0.3);
}
.cssEditor .structureWrapper > .structureViewer .elementId.active {
    background-color:rgba(143, 188, 143, 1);
}
.cssEditor .structureWrapper > .structureViewer .elementAttr.active {
    background-color:rgba(143, 188, 143, 0.6);
}

.cssEditor .structureWrapper > .structureViewer *.hover {
    transition: background-color 1s;
    -moz-transition: background-color 1s;
    -webkit-transition: background-color 1s;
    -o-transition: background-color 1s;
    background-color:rgb(173, 216, 230);
}

/* Structure Holder */
.cssEditor .structureWrapper > .structureHolder {
	display:none;
}

/* Pseudoelements wrapper */
.cssEditor .structureWrapper > .pseudoWrapper {
	display:none;
	position:absolute;
	white-space:nowrap;
	height:300px;
	border:1px solid black;
	overflow:hidden;
	background-color:lightBlue;
}
.cssEditor .structureWrapper > .pseudoWrapper > .pseudo-classes {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	border-right:1px solid black;
	display:inline-block;
	height:100%;
	overflow:auto;
}
.cssEditor .structureWrapper > .pseudoWrapper > .pseudo-elements {
	display:inline-block;
	vertical-align:top;
	height:100%;
	overflow:auto;
}
.cssEditor .structureWrapper > .pseudoWrapper > .pseudo-classes > div:hover, .cssEditor .structureWrapper > .pseudoWrapper > .pseudo-elements > div:hover {
	background-color:lightGray;
	cursor:pointer;
}

/* cssContainer */
.cssEditor > .cssContainer {
	height:100%;
}
.cssEditor > .cssContainer .currentSelectorPath {
	width:250px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding:5px;
	background:white;
	margin-top:2px;
	margin-left:2px;
}

.cssEditor .cssContainer .cssCoder {
	height:100%;
}
.cssEditor .cssContainer > .cssCoder {
	display:none;
}
.cssEditor .cssContainer > .cssCoder.selected {
	display:block;
}

.cssEditor .cssContainer .propertiesView {
	height:100%;
}

.cssEditor .cssContainer .propertiesView .propertiesContainer {
	height:100%;
	padding:5px;
	padding-left:7px;
	padding-top:8px;
	overflow-x:hidden;
	overflow-y:auto;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

.cssEditor .cssContainer .propertiesView .propertyWrapper {
	position:relative;
	width:100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}
.cssEditor .cssContainer .propertiesView .propertyWrapper > label {
	width:50%;
	display:inline-block;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	text-align:right;
	padding-right:5px;
}
.cssEditor .cssContainer .propertiesView .propertyWrapper > input, .cssEditor .cssContainer .propertiesView .propertyWrapper > select {
	width:50%;
	display:inline-block;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding:3px;
}
.cssEditor .cssContainer .propertiesView .propertyWrapper > select {
	padding-left:0;
}

/* These go to the selection input, and selection + input tools, respectively (maybe) */
.cssEditor .cssContainer .propertiesView .propertyWrapper > .selectionInput {
    	position:relative;
    	display:inline-block;
    	width:50%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	overflow:auto;
}
.cssEditor .cssContainer .propertiesView .propertyWrapper > .selectionInput > select {
    	/*width:300px;*/
	padding:3px;
	outline:none;
	width:100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}
.cssEditor .cssContainer .propertiesView .propertyWrapper > .selectionInput > input {
    	/*width:267px;*/
	width:80%;
    	padding:3px;
    	margin-left:1px;
    	outline:none;
    	position:absolute;
    	top:1px;
    	left:0;
    	border:1px solid transparent;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

.cssEditor .cssContainer .propertiesView .propertyWrapper > .lengthInput, .cssEditor .cssContainer .propertiesView .propertyWrapper > .timeInput, .cssEditor .cssContainer .propertiesView .propertyWrapper > .angleInput {
	position:relative;
    	display:inline-block;
    	width:50%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}
.cssEditor .cssContainer .propertiesView .propertyWrapper > .lengthInput input, .cssEditor .cssContainer .propertiesView .propertyWrapper > .timeInput input, .cssEditor .cssContainer .propertiesView .propertyWrapper > .angleInput input {
	width:70%;
	display:inline-block;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding:3px;
}
.cssEditor .cssContainer .propertiesView .propertyWrapper > .lengthInput select, .cssEditor .cssContainer .propertiesView .propertyWrapper > .timeInput select, .cssEditor .cssContainer .propertiesView .propertyWrapper > .angleInput select {
	width:30%;
	display:inline-block;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding:3px;
}
/* ------------------------------------- */

.cssEditor .cssContainer .propertiesView .propertyWrapper > .browserSupport {
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	position:absolute;
	width:auto;
	height:10px;
	padding-right:5px;
	top:0;
	right:50%;
}
.cssEditor .cssContainer .propertiesView .propertyWrapper > .browserSupport:empty {
	display:none;
}
.cssEditor .cssContainer .propertiesView .propertyWrapper > .browserSupport span {
	width:10px;
	height:10px;
	background-repeat: no-repeat;
	background-size: 10px 10px;
	display:table-cell;
	opacity:0;
}
.cssEditor .cssContainer .propertiesView .propertyWrapper > .browserSupport .firefox {
	background-image:url(/Library/Media/images/icons/20x20/firefox_logo.gif);
}
.cssEditor .cssContainer .propertiesView .propertyWrapper > .browserSupport .chrome {
	background-image:url(/Library/Media/images/icons/20x20/chrome_logo.gif);
}
.cssEditor .cssContainer .propertiesView .propertyWrapper > .browserSupport .safari {
	background-image:url(/Library/Media/images/icons/20x20/safari_logo.gif);
}
.cssEditor .cssContainer .propertiesView .propertyWrapper > .browserSupport .opera {
	background-image:url(/Library/Media/images/icons/20x20/opera_logo.gif);
}
.cssEditor .cssContainer .propertiesView .propertyWrapper > .browserSupport .iexplorer {
	background-image:url(/Library/Media/images/icons/20x20/iexplorer_logo.gif);
}
.cssEditor .cssContainer .propertiesView .propertyWrapper > .browserSupport :nth-child(1) {
	transition: opacity 50ms;
	-webkit-transition: opacity 50ms;
	-moz-transition:opacity 50ms;
	-o-transition:opacity 50ms;
}
.cssEditor .cssContainer .propertiesView .propertyWrapper.focused > .browserSupport :nth-child(1) {
	transition: opacity 50ms 800ms;
	-webkit-transition: opacity 50ms 800ms;
	-moz-transition: opacity 50ms 800ms;
	-o-transition: opacity 50ms 800ms;
}
.cssEditor .cssContainer .propertiesView .propertyWrapper > .browserSupport :nth-child(2) {
	transition: opacity 50ms 50ms;
	-webkit-transition: opacity 50ms 50ms;
	-moz-transition: opacity 50ms 50ms;
	-o-transition: opacity 50ms 50ms;
}
.cssEditor .cssContainer .propertiesView .propertyWrapper.focused > .browserSupport :nth-child(2) {
	transition: opacity 50ms 850ms;
	-webkit-transition: opacity 50ms 850ms;
	-moz-transition: opacity 50ms 850ms;
	-o-transition: opacity 50ms 850ms;
}
.cssEditor .cssContainer .propertiesView .propertyWrapper > .browserSupport :nth-child(3) {
	transition: opacity 50ms 100ms;
	-webkit-transition: opacity 50ms 100ms;
	-moz-transition: opacity 50ms 100ms;
	-o-transition: opacity 50ms 100ms;
}
.cssEditor .cssContainer .propertiesView .propertyWrapper.focused > .browserSupport :nth-child(3) {
	transition: opacity 50ms 900ms;
	-webkit-transition: opacity 50ms 900ms;
	-moz-transition: opacity 50ms 900ms;
	-o-transition: opacity 50ms 900ms;
}
.cssEditor .cssContainer .propertiesView .propertyWrapper > .browserSupport :nth-child(4) {
	transition: opacity 50ms 150ms;
	-webkit-transition: opacity 50ms 150ms;
	-moz-transition: opacity 50ms 150ms;
	-o-transition: opacity 50ms 150ms;
}
.cssEditor .cssContainer .propertiesView .propertyWrapper.focused > .browserSupport :nth-child(4) {
	transition: opacity 50ms 950ms;
	-webkit-transition: opacity 50ms 950ms;
	-moz-transition: opacity 50ms 950ms;
	-o-transition: opacity 50ms 950ms;
}
.cssEditor .cssContainer .propertiesView .propertyWrapper > .browserSupport :nth-child(5) {
	transition: opacity 50ms 200ms;
	-webkit-transition: opacity 50ms 200ms;
	-moz-transition: opacity 50ms 200ms;
	-o-transition: opacity 50ms 200ms;
}
.cssEditor .cssContainer .propertiesView .propertyWrapper.focused > .browserSupport :nth-child(5) {
	transition: opacity 50ms 1000ms;
	-webkit-transition: opacity 50ms 1000ms;
	-moz-transition: opacity 50ms 1000ms;
	-o-transition: opacity 50ms 1000ms;
}

.cssEditor .cssContainer .propertiesView .propertyWrapper.focused > .browserSupport :not(.unsupported) {
	opacity:1;
}
.cssEditor .cssContainer .propertiesView .propertyWrapper.focused > .browserSupport .unsupported {
	opacity:0.3;
}


/* CSS Tools */
.cssEditor .cssContainer .cssTool {
	line-height:11px;
	height:11px;
	padding:3px 6px;
	opacity: 0.7;
	cursor: pointer;
	display: inline-block;
	border: 1px solid rgba(0, 0, 0, 0.2);
}
.cssEditor .cssContainer .cssTool:hover {
	opacity:1;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
	border: 1px solid transparent;
}

	/* This is temp for the toolbar */
.cssEditor .cssContainer .cssTool.restore {
	position:absolute;
	right:0;
	margin-right:5px;
	
	
	cursor:default;
	box-shadow: none;
	border: 1px solid rgba(0, 0, 0, 0.2);
	opacity: 0.3;
}

.cssEditor .cssContainer .searchCss {
	position:relative;
	left:10px;
	border: 1px solid #999;
	background:transparent;
	outline:none;
	margin:0;
	padding:1px 3px;
}
.cssEditor .cssContainer .searchCss::-webkit-input-placeholder {
    color:#999;
}
.cssEditor .cssContainer .searchCss::-moz-placeholder {
    color:#999;
}
.cssEditor .cssContainer .searchCss:-ms-input-placeholder {
    color:#999;
}
	/* --------- */

	/* This messes with the toolbar, is temp and should be removed */
.cssEditor .cssContainer .tool {
	width: auto;
}
	/* --------- */

/* --------- */

/* Tiles */
.cssEditor .cssContainer .cssTile {
    border:1px solid black;
    position:relative;
    padding:5px;
    padding-top:0;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

.cssEditor .cssContainer .cssTile > .cssTileHeader {
    background-color:white;
    position:relative;
    left:3px;
    top:-4px;
    padding:0 7px;
    box-shadow: 0px 0px 2px black;
}
/* ------------------------------------- */





/* -> */

/*
left <-> .cssContainer
*/

/* _____ HTML _____*/

/* temp left */
.cssEditor .cssContainer > .search {
	position:absolute;
	display:block !important;
	right:0;
	top:0;
}

.cssEditor .cssContainer > .save {
	position:absolute;
	display:block !important;
	right:0;
	bottom:0;
}

/* maximized */
.cssEditor .structureWrapper.maximized, .cssEditor .previewWrapper.maximized {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:white;
	border:none;
	z-index:1;
}

.cssEditor .structureWrapper > .maximize, .cssEditor > .previewWrapper > .maximize {
	display:none;
}

.cssEditor .structureWrapper:hover > .maximize, .cssEditor > .previewWrapper:hover > .maximize {
	display:block;
	position:absolute;
	width:20px;
	height:20px;
	top:5px;
	right:5px;
	background-color:grey;
}