body {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 0.8em !important;
	line-height: initial !important;
	margin: 0px !important;
	padding: 0px !important;
	-webkit-font-smoothing: antialiased;
}
a, a.visited, a:hover {
	text-decoration: none !important;
	outline: none !important;
	color: #353535;
}
a img {
	border: none !important;
	outline: none !important;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-family: inherit;
}
.h1, .h2, h1, h2 {
	font-size: 1.5em;
}
.h3, h3 {
	font-size: 1.17em;
}
.h4, h4 {
	font-size: inherit;
}
.h5, h5 {
	font-size: 0.83em;
}
.h6, h6 {
	font-size: 0.67em;
}
pre, xmp, plaintext, listing {
	font-family: monospace;
	white-space: pre;
}
p {
	margin: 1em 0px;
}
b {
	font-weight: bold;
}
i {
	font-style: italic;
}
#pageReport {
	position: fixed;
	right: 30px;
	top: 50px;
	z-index: 50;
	max-width: 80%;
}
#pageReport:empty {
	display: none;
}
#pageContainer {
	height: 100%;
}
#pageHelper {
	display: none !important;
}
.uiPageContainer:empty,
.uiPageContainer > .moduleContainer:empty {
	background: #FFF url('%{media}/global/splash.png') no-repeat center;
	background-size: 250px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
.noDisplay {
	display: none !important;
}
.fullScreenPage {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	width: 100%;
}
.hasToolbar .fullScreenPage {
	top: 50px;
}

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}
::-webkit-scrollbar-thumb {
	background: #a5abb1;
}

.platform-ntf-container {
	display: none !important;
}
.platform-ntf-updates {
	background: #404040;
	padding: 15px 20px;
	color: #FFF;
	overflow: auto;
	line-height: 24px;
	font-size: 1.1em;
	min-width: 350px;
}

.platform-ntf-updates .close_button {
	float: right;
	width: 24px;
	height: 24px;
	background: url('%{media}/global/closeX.svg') no-repeat;
	background-size: cover;
	background-position: 0px 0px;
	opacity: 1;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	cursor: pointer;
}

.platform-ntf-updates .close_button:hover {
	opacity: 0.7;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
}

.platform-ntf-updates .refresh_button {
	float: left;
	margin: 0px 15px;
	color: #3CB0F7;
	cursor: pointer;
}

.platform-ntf-updates .title {
	float: left;
}