.uiPopup {
	display: none;
	position: fixed;
	z-index: 300;
	width: auto;
	overflow: visible;
	max-width: 90%;
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.uiPopup.wbrdr {
	background-color: #FFF;
	border: solid 1px rgba(166,166,166,1);
}
.uiPopup.wbg {
	z-index:350;
}
.uiPopup > .loading {
	display:block;
	height:20px;
	margin:5px;
	padding-left:25px;
	line-height:20px;
	background-image:url(/Library/Media/Elements/icons/19x19/loader.svg);
	background-repeat:no-repeat;
	background-position:left center;
}
.popupContent { overflow:auto; }
.uiPopup.timeout .actionButton {
	display: block;
	background-image: none;
}

.uiPopup > .ppArrowFront, .uiPopup > .ppArrowBack {
	position: absolute;
}
/* Top */
.uiPopup.topPointer > .ppArrowFront, .uiPopup.topcenterPointer > .ppArrowFront {
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #fff;
}
.uiPopup.topPointer > .ppArrowBack, .uiPopup.topcenterPointer > .ppArrowBack {
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-bottom: 9px solid;
	border-bottom-color: inherit;
}

.uiPopup.topPointer > .ppArrowFront {
	top: -8px;
}
.uiPopup.topPointer > .ppArrowBack {
	top: -9px;
}

.uiPopup.topcenterPointer > .ppArrowFront {
	top: -8px;
	left: 50%;
	margin-left: -7px;
}
.uiPopup.topcenterPointer > .ppArrowBack {
	top: -9px;
	left: 50%;
	margin-left: -8px;
}

/* Bottom */
.uiPopup.bottomPointer > .ppArrowFront,.uiPopup.bottomcenterPointer > .ppArrowFront {
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid #fff;
}
.uiPopup.bottomPointer > .ppArrowBack, .uiPopup.bottomcenterPointer > .ppArrowBack {
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-top: 9px solid;
	border-top-color: inherit;
}

.uiPopup.bottomPointer > .ppArrowFront {
	bottom: -8px;
}
.uiPopup.bottomPointer > .ppArrowBack {
	bottom: -9px;
}

.uiPopup.bottomcenterPointer > .ppArrowFront {
	bottom: -8px;
	left: 50%;
	margin-left: -7px;
}
.uiPopup.bottomcenterPointer > .ppArrowBack {
	bottom: -9px;
	left: 50%;
	margin-left: -8px;
}

/* Left */
.uiPopup.leftPointer > .ppArrowFront, .uiPopup.leftcenterPointer > .ppArrowFront {
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-right: 8px solid #fff;
}
.uiPopup.leftPointer > .ppArrowBack, .uiPopup.leftcenterPointer > .ppArrowBack {
	border-top: 9px solid transparent;
	border-bottom: 9px solid transparent;
	border-right: 9px solid;
	border-right-color: inherit;
}

.uiPopup.leftPointer > .ppArrowFront {
	left: -8px;
}
.uiPopup.leftPointer > .ppArrowBack {
	left: -9px;
}

.uiPopup.leftcenterPointer > .ppArrowFront {
	left: -8px;
	top: 50%;
	margin-top:-7px;
}
.uiPopup.leftcenterPointer > .ppArrowBack {
	left: -9px;
	top: 50%;
	margin-top:-8px;
}

/* Right */
.uiPopup.rightPointer > .ppArrowFront, .uiPopup.rightcenterPointer > .ppArrowFront {
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 8px solid #fff;
}
.uiPopup.rightPointer > .ppArrowBack, .uiPopup.rightcenterPointer > .ppArrowBack {
	border-top: 9px solid transparent;
	border-bottom: 9px solid transparent;
	border-left: 9px solid;
	border-left-color: inherit;
}

.uiPopup.rightPointer > .ppArrowFront {
	right: -8px;
}
.uiPopup.rightPointer > .ppArrowBack {
	right: -9px;
}

.uiPopup.rightcenterPointer > .ppArrowFront {
	right: -8px;
	top: 50%;
	margin-top:-7px;
}
.uiPopup.rightcenterPointer > .ppArrowBack {
	right: -9px;
	top: 50%;
	margin-top:-8px;
}

/*.uiPopup > .uiNotification { border: none; }*/
.popupOverlay {
	display: none;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #FFF;
	z-index: 300;
	opacity: 0.9;
}
.popupOverlay.loader {
	background-image: url(/Library/Media/images/icons/46x46/loader.svg);
	background-repeat: no-repeat;
	background-position: center 40px;
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #FFF;
	z-index: 200;
	opacity: 0.5;
}

/* Arrow colors */
/*.uiPopup.topleftPointer.success::after, .uiPopup.toprightPointer.success::after, .uiPopup.topcenterPointer.success::after {
	border-bottom-color: rgba(85,142,54,1);
}
.uiPopup.bottomleftPointer.success::after, .uiPopup.bottomrightPointer.success::after, .uiPopup.bottomcenterPointer.success::after {
	border-top-color: rgba(85,142,54,1);
}
.uiPopup.lefttopPointer.success::after, .uiPopup.leftbottomPointer.success::after, .uiPopup.leftcenterPointer.success::after {
	border-right-color: rgba(85,142,54,1);
}
.uiPopup.righttopPointer.success::after, .uiPopup.rightbottomPointer.success::after, .uiPopup.rightcenterPointer.success::after {
	border-left-color: rgba(85,142,54,1);
}

.uiPopup.topleftPointer.error::after, .uiPopup.toprightPointer.error::after, .uiPopup.topcenterPointer.error::after {
	border-bottom-color: rgba(192,4,3, 1);
}
.uiPopup.bottomleftPointer.error::after, .uiPopup.bottomrightPointer.error::after, .uiPopup.bottomcenterPointer.error::after {
	border-top-color: rgba(192,4,3, 1);
}
.uiPopup.lefttopPointer.error::after, .uiPopup.leftbottomPointer.error::after, .uiPopup.leftcenterPointer.error::after {
	border-right-color: rgba(192,4,3, 1);
}
.uiPopup.righttopPointer.error::after, .uiPopup.rightbottomPointer.error::after, .uiPopup.rightcenterPointer.error::after {
	border-left-color: rgba(192,4,3, 1);
}

.uiPopup.topleftPointer.warning::after, .uiPopup.toprightPointer.warning::after, .uiPopup.topcenterPointer.warning::after {
	border-bottom-color: rgba(255, 100, 0, 1);
}
.uiPopup.bottomleftPointer.warning::after, .uiPopup.bottomrightPointer.warning::after, .uiPopup.bottomcenterPointer.warning::after {
	border-top-color: rgba(255, 100, 0, 1);
}
.uiPopup.lefttopPointer.warning::after, .uiPopup.leftbottomPointer.warning::after, .uiPopup.leftcenterPointer.warning::after {
	border-right-color: rgba(255, 100, 0, 1);
}
.uiPopup.righttopPointer.warning::after, .uiPopup.rightbottomPointer.warning::after, .uiPopup.rightcenterPointer.warning::after {
	border-left-color: rgba(255, 100, 0, 1);
}

.uiPopup.topleftPointer.info::after, .uiPopup.toprightPointer.info::after, .uiPopup.topcenterPointer.info::after {
	border-bottom-color: rgba(0,98,194,1);
}
.uiPopup.bottomleftPointer.info::after, .uiPopup.bottomrightPointer.info::after, .uiPopup.bottomcenterPointer.info::after {
	border-top-color: rgba(0,98,194,1);
}
.uiPopup.lefttopPointer.info::after, .uiPopup.leftbottomPointer.info::after, .uiPopup.leftcenterPointer.info::after {
	border-right-color: rgba(0,98,194,1);
}
.uiPopup.righttopPointer.info::after, .uiPopup.rightbottomPointer.info::after, .uiPopup.rightcenterPointer.info::after {
	border-left-color: rgba(0,98,194,1);
}*/

/* old popups */
.uiGppHolder {
	display: none;
	position: fixed;
	z-index: 300;
	width: auto;
	overflow: visible;
	background-color: #FFF;
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
	max-width: 60%;
	border: solid 1px rgba(166,166,166,1);
}
.uiGppHolder > .loading {
	display:block;
	height:20px;
	margin:5px;
	padding-left:25px;
	line-height:20px;
	background-image:url(/Library/Media/Elements/icons/19x19/loader.svg);
	background-repeat:no-repeat;
	background-position:left center;
}
.uiGppContent { overflow:auto; }
.uiGppHolder.timeout .actionButton {
	display: block;
	background-image: none;
}
.uiGppHolder .uiGppArrow {
	display: none;
	opacity: 1;
	position: absolute;
	background-color: black;
	z-index: -1;
	width: 10px;
	height: 10px;
	position: absolute;
	background-color: transparent;
}
.uiGppHolder .uiGppArrow.leftPointer {
	display: inline;
	border-left: solid 1px rgba(166,166,166,1);
	border-bottom: solid 1px rgba(166,166,166,1);
	transform: rotate(45deg);
	transform-origin: 0% 0%;
	-ms-transform: rotate(45deg);
	-ms-transform-origin: 0% 0%;
	-moz-transform: rotate(45deg);
	-moz-transform-origin: 0% 0%;
	-webkit-transform: rotate(45deg);
	-webkit-transform-origin: 0% 0%;
	-o-transform: rotate(45deg);
	-o-transform-origin: 0% 0%;
}
.uiGppHolder .uiGppArrow.rightPointer {
	display: inline;
	border-right: solid 1px rgba(166,166,166,1);
	border-top: solid 1px rgba(166,166,166,1);
	transform: rotate(45deg);
	transform-origin: 100% 100%;
	-ms-transform: rotate(45deg);
	-ms-transform-origin: 100% 100%;
	-moz-transform: rotate(45deg);
	-moz-transform-origin: 100% 100%;
	-webkit-transform: rotate(45deg);
	-webkit-transform-origin: 100% 100%;
	-o-transform: rotate(45deg);
	-o-transform-origin: 100% 100%;
}
.uiGppHolder .uiGppArrow.topPointer {
	display: inline;
	border-left: solid 1px rgba(166,166,166,1);
	border-top: solid 1px rgba(166,166,166,1);
	transform: rotate(45deg);
	transform-origin: 100% 0%;
	-ms-transform: rotate(45deg);
	-ms-transform-origin: 100% 0%;
	-moz-transform: rotate(45deg);
	-moz-transform-origin: 100% 0%;
	-webkit-transform: rotate(45deg);
	-webkit-transform-origin: 100% 0%;
	-o-transform: rotate(45deg);
	-o-transform-origin: 100% 0%;
}
.uiGppHolder .uiGppArrow.bottomPointer {
	display: inline;
	border-right: solid 1px rgba(166,166,166,1);
	border-bottom: solid 1px rgba(166,166,166,1);
	transform: rotate(45deg);
	transform-origin: 0% 100%;
	-ms-transform: rotate(45deg);
	-ms-transform-origin: 0% 100%;
	-moz-transform: rotate(45deg);
	-moz-transform-origin: 0% 100%;
	-webkit-transform: rotate(45deg);
	-webkit-transform-origin: 0% 100%;
	-o-transform: rotate(45deg);
	-o-transform-origin: 0% 100%;
}
.uiGppHolder > .uiNotification { border: none; }
.uiGlbOverlay {
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #FFF;
	z-index: 200;
	opacity: 0.9;
}
.uiGlbOverlay.loader {
	background-image: url(/Library/Media/images/icons/46x46/loader.svg);
	background-repeat: no-repeat;
	background-position: center 40px;
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #FFF;
	z-index: 200;
	opacity: 0.5;
}