.simpleFormRow {
	position:relative;
	margin:auto;
	clear:both;
	padding:5px 0 5px 0;
	vertical-align:middle;
	overflow:visible;
}
.simpleFormRow input {
	width: 200px;
}
.simpleFormRow textarea {
	width: 200px;
	max-width: 50%;
}
.simpleFormRow select {
	width:200px;
	border:1px solid rgba(120, 120, 120, 1);
	padding:3px;
	margin:0px;
}
.simpleFormLabel {
	float: left;
	padding: 3px 0px;
	width: 200px;
	text-align: right;
	margin-right: 5px;
}
.simpleFormNotes {
	display: block;
	clear: both;
	margin-left: 200px;
	font-style: italic;
	color: rgba(166, 166, 166, 1);
	max-width: 500px;
}
span.required { color:#c00403; }
.formControls {
	padding-left: 200px;
}
.formControls:empty {
	margin: 0px;
}