.wDoc {
	& {
		font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		overflow: auto;
		height: auto;
		width: auto;
		margin: 0 auto;
		color: #5E6570;
		font-size: 1.1em;
	}
	h1, h2, h3, h4, h5, h6 {
		color: #555;
		font-size: initial;
	}
	h2, h3, h4, h5, h6 {
		text-indent: 3px;
		font-weight: normal;
	}
	h3, h4, h5, h6 {
		text-indent: 6px;
	}
	h1 {
		font-size: 1.6em;
		margin: 0.67em 0;
		font-weight: 600;
	}
	h2 {
		font-size: 1.3em;
		margin: 0.83em 0;
		font-weight: 600;
	}
	h3 {
		font-size: 1.1em;
		margin: 1em 0;
		font-weight: 600;
	}
	h4 {
		margin: 1.33em 0;
	}
	h5 {
		margin: 1.67em 0;
	}
	p {
		font-size: 1.1em;
		line-height: 25px;
		margin-bottom: 25px;
		color: #7C858E;
	}
	a,
	a.visited {
		color: #ff5252;
		text-decoration: underline;
	}
	.body {
		overflow: auto;
	}
	.code {
		background: #f5f5f5;
		padding: 10px 15px;
		overflow: auto;
		font-size: 1.1em;
	}
	.code pre {
		white-space: pre-wrap;
	}
	.ccode {
		background: #f5f5f5;
		padding: 10px 15px;
		overflow: auto;
		font-size: 1.1em;
		white-space: pre-wrap;
	}
	.note {
		padding: 10px;
		background: #b6dcf5;
		border-left: 3px solid #0f4976;
		color: #0f4976;
	}
	.footer {
		& {
			border-top: 1px solid #CCC;
			overflow: auto;
			margin-top: 5px;
		}
		.updated {
			float: right;
			color: rgb(153, 153, 153);
			font-size: 0.9em;
		}
	}
}