.loginDialog {
	position: relative;
	background: rgba(255, 255, 255, 0.9);
	padding: 25px;
	text-align: center;
	min-width: 250px;
	max-width: 450px;
	margin: 0 auto;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	overflow: auto;
}
.loginDialog .header {
	overflow: auto;
}

.loginDialog .header .logo {
	width: 60px;
	height: 60px;
	margin: 10px;
	float: left;
	background: url('%{cdn}/media/logos/dlogo.png') no-repeat center;
	background-size: cover;
}

.loginDialog .header .ltitle {
	line-height: 60px;
	font-weight: normal;
	font-size: 24px;
	color: #555459;
	margin: 10px 0px;
	padding: 0px 10px;
}

.loginDialog .header.dialog .ltitle {
	float: left;
}

.loginDialog .header .close {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 24px;
	height: 24px;
	background: url('%{media}/global/closeX.svg') no-repeat center;
	background-position: 0px -24px;
	background-size: cover;
	cursor: pointer;
}

.loginDialog .main {
	clear: both;
	overflow: auto;
}
.loginDialog .main .formContainer {
	padding: 5px;
}

.loginDialog .main .lpinp {
	width: 100%;
	padding: 10px 12px;
	margin: 8px 0px;
	font-size: 14px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-color: #777;
	color: #777;
	outline-color: #CCC;
}

.loginDialog .main button[type='submit'] {
	padding: 8px 10px;
	width: 150px;
	margin: 0px auto;
	margin-top: 15px;
	font-size: 13px;
	border-color: rgba(0, 0, 0, 0.1);
	background: #ff5252;
	background-image: -webkit-linear-gradient(top, #ff6161 0%, #ff4343 100%);
	background-image: -o-linear-gradient(top, #ff6161 0%, #ff4343 100%);
	background-image: linear-gradient(to bottom, #ff6161 0%, #ff4343 100%);
	background-repeat: repeat-x;
	color: #FFF;
	transition: background .2s ease-in-out;
	-webkit-transition: background .2s ease-in-out;
	-moz-transition: background .2s ease-in-out;
}

.loginDialog .main button[type='submit']:hover {
	border-color: rgba(0, 0, 0, 0.1);
	background: #ff4343;
	background-image: -webkit-linear-gradient(top, #ff5252 0%, #ff2e2e 100%);
	background-image: -o-linear-gradient(top, #ff5252 0%, #ff2e2e 100%);
	background-image: linear-gradient(to bottom, #ff5252 0%, #ff2e2e 100%);
	background-repeat: repeat-x;
	color: white;
	outline: none;
	transition: background .2s ease-in-out;
	-webkit-transition: background .2s ease-in-out;
	-moz-transition: background .2s ease-in-out;
}

.loginDialog .main .rcont {
	margin-top: 10px;
	overflow: auto;
}

.loginDialog .main .rocnt {
	width: 50%;
	float: left;
	padding: 5px 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.loginDialog .main .rocnt .ricnt {
	background: linear-gradient(#FEFEFE, #f0f0f0);
	border: 1px solid #CCC;
	border-color: #cdced0 #c5c6c8 #b6b7b9;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.loginDialog .main .rocnt .ricnt label {
	display: block;
	padding: 10px 5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.loginDialog .main .rocnt.selected .ricnt {
	background: linear-gradient(rgb(45, 171, 220), rgb(14, 149, 211));
	border: 1px solid rgb(10, 104, 146);
	color: #FFF;
}

.loginDialog .main .rocnt .ricnt input[type='radio'] {
	display: none;
}

.loginDialog .main .rnotes {
	color: rgb(10, 104, 146);
	font-size: 10px;
	text-align: center;
	padding-top: 5px;
	clear: both;
}

.loginDialog .main .rnotes .nt {
	display: none;
}

.loginDialog .main .rnotes .nt.selected {
	display: inline-block;
}
.loginDialog .footer {
	border-top: 1px solid #CCC;
	margin-top: 10px;
	color: #777;
	font-weight: normal;
	padding-top: 10px;
}

.loginDialog .footer h4 {
	text-align: left;
	display: inline-block;
	padding: 0px 5px;
	margin: 5px 0px;
}

.loginDialog .footer .register a {
	color: #555459;
	font-weight: bold;
}

.loginDialog .footer .register:hover a {
	text-decoration: underline;
}

.loginDialog .footer .forgot a {
	color: #777;
}

.loginDialog .footer .forgot:hover a {
	text-decoration: underline;
}