.uiMainToolbar {
	position:relative;
	padding-top: 50px;
	z-index: 350;
}
.uiToolbarNav {
	display: block;
	margin: auto;
	height: 50px;
	position: fixed;
	top: 0px;
	z-index: 100;
	width: 100%;
	padding: 0px 5px;
	background: #333;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#domainNav, #myNav {
	font-weight: bold;
}
#domainNav, #pageNav, #myNav {
	overflow: hidden;
	display: inline-block;
}
.teamSelectorSubContainer {
	display: none !important;
}
#myNav > * {
	float: none;
	display: inline-block;
	vertical-align: top;
}
#myNav .guest {
	text-transform: capitalize;
}
#pageNav:empty {
	border: none;
	margin: 0px;
	padding: 0px;
}
#myNav > #userTools {
	overflow: auto;
	display: inline-block;
	vertical-align:top;
}

.userStarter.withteam .title {
	line-height: 22px !important;
}
.userStarter .team {
	display: block;
	font-size: 10px;
	font-weight: normal;
	text-align: right;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* Global Icons */
.platform .title img {
	height: 24px;
	margin: 3px 0px;
}
.platform .navIco {
	float: right !important;
	background-image: url('%{cdn}/media/dashboard/dashboard_x3.svg');
	background-size: contain;
}
.home .navIco {
	background-image:url('%{media}/global/toolbarIcons.svg');
	background-position:0px 0px;
}

/* User Icons */
.userStarter .navIco,
.regionSelector .navIco {
	opacity: 1 !important;
}
.userStarter .navIco:empty {
	background: url('%{media}/global/profile.svg') no-repeat center;
	background-size: 22px;
}
.userStarter .navIco img {
	width: inherit;
	height: inherit;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}
.userDeveloper .navIco {
	background-image:url('%{media}/global/toolbarIcons.svg');
	background-position:0px -120px;
}
/* My Page Icons */
.settings .navIco {
	background-image:url('%resources%/global/toolbarIcons.svg');
	background-position:0px -114px;
}
.services .navIco {
	background-image:url('%resources%/global/toolbarIcons.svg');
	background-position:0px -342px;
}
.relations .navIco {
	background-image:url('%resources%/global/toolbarIcons.svg');
	background-position: 0px -304px;
}
/* Developer Icons */
.dashboard .navIco {
	background-image: url('%{media}/global/toolbarIcons.svg');
	background-position: 0px -30px;
}
.add_new .navIco {
	background-image: url('%{media}/global/toolbarIcons.svg');
	background-position: 0px -90px;
}
span.region {
	height: inherit;
	width: inherit;
	display: inline-block;
	vertical-align: bottom;
	opacity: 0.8;
}
.tlbNav {
	overflow: visible;
	height: 50px;
}
.leftNav .tlbNavItem > .navMenuHeader > .navIco {
	float: left;
}
.rightNav {
	position:absolute;
	right: 5px;
	top:0;
}
.uiMainToolbar .loadingBar {
	background-color: #FFF;
	position: absolute;
	top: 0px;
	height: 2px;
	z-index: 101;
}
html.loading .loadingBar {
	animation: loading 2s infinite;
	-webkit-animation: loading 2s infinite;
	-moz-animation: loading 2s infinite;
}
@keyframes loading {
	0% {
		left: 0px;
		width: 0px;
	}
	50% {
		left: 0px;
		width: 100%;
	}
	100% {
		right: 0px;
		width: 0%;
	}
}

@-webkit-keyframes loading {
	0% {
		left: 0px;
		width: 0px;
	}
	50% {
		left: 0px;
		width: 100%;
	}
	100% {
		right: 0px;
		width: 0%;
	}
}

@-moz-keyframes loading {
	0% {
		left: 0px;
		width: 0px;
	}
	50% {
		left: 0px;
		width: 100%;
	}
	100% {
		right: 0px;
		width: 0%;
	}
}