.fileExplorer {
	& {
		position: relative;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		-moz-box-sizing:border-box;
		overflow: hidden;
	}
	.fx-pathbar {
		& {
			position:absolute;
			height:36px;
			width:auto;
			box-sizing:border-box;
			-moz-box-sizing:border-box;
			left:0;
			top:0;
			padding:5px;
			line-height:26px;
			font-size:16px;
			z-index:2;
		}
		.pathRelation {
			cursor:default;
			padding:0 5px;
		}
		.pathElement {
			cursor:pointer;
		}
		.pathElement:hover {
			text-decoration:underline;
		}
		.hiddenPath {
			cursor:pointer;
			padding: 0 8px;
		}
		.hiddenPath:hover {
			box-shadow: 0 0 2px #000;
		}
	}
	.fx-toolbar {
		& {
			position: absolute;
			height: 36px;
			line-height: 26px;
			padding: 2px;
			width: auto;
			border-left: 1px solid rgba(166, 166, 166, 1);
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			right: 0;
			top: 0;
			text-align: right;
		}
		& > div {
			width: 32px;
			height: 32px;
			display: inline-block;
			margin: 0 2px;
			background: url('%{media}/INU/fileExplorer/tools.svg') no-repeat;
			cursor:pointer;
		}
		& > div:not(.disabledButton):hover {
			transform:scale(1.1);
			-webkit-transform:scale(1.1);
			transition: transform 300ms;
			-webkit-transition: -webkit-transform 300ms;
		}
		& > :not(.disabledButton) {
			opacity:1;
		}
		& > .disabledButton {
			opacity:0.2;
			transition: opacity 300ms;
			-webkit-transition: opacity 300ms;
			cursor:default;
		}
		& > .newFolder {
			background-position: 0px 0px;
			margin-right:20px;
		}
		& > .rename {
			background-position: 0px -160px;
		}
		& > .copy {
			background-position: 0px -96px;
		}
		& > .move {
			background-position: 0px -128px;
		}
		& > .delete {
			background-position: 0px -192px;
			margin-right:20px;
		}
		& > .download {
			background-position: 0px -64px;
		}
		& > .toggleUploads {
			background-position: 0px -32px;
			z-index:2;
			position:relative;
			margin-right:20px;
		}
		& > .toggleUploads .uploadCount{
			position: absolute;
			top: 0px;
			right: -4px;
			background: #5cc3bd;
			display: inline-block;
			font-size: 8px;
			border-radius: 3px;
			width: 12px;
			text-align: center;
			height: 12px;
			border: 1px solid #53a69d;
			color: #000;
			line-height: 12px;
		}
		& > .toggleUploads .uploadCount.invalid{
			background: #df8180;
			border: 1px solid #000;
		}
		& > .prefIcon {
			position: relative;
			background-position: 0px -224px;
		}
		.totalUploadProgress {
			height:2px;
			position:absolute;
			bottom:6px;
			left:3px;
			width:0;
			background: #00a14b;
		}
		.hiddenFiles {
			display:inline-block;
			margin: 0px;
			top: 4px;
			margin-left: 2px;
		}
	}
	.fx-uploadArea > .upload {
		width: 32px;
		height: 32px;
		display: inline-block;
		margin-left: 12px;
		background: url('%{media}/INU/fileExplorer/tools.svg') no-repeat;
		cursor:pointer;
		background-position: 0px -32px;
		vertical-align: top;
		position: relative;
		top: -6px;
	}
	.fx-uploadArea {
			& {
			position: absolute;
			top: 0;
			left: 110%;
			right: 0;
			height: 100%;
			background: #fff;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			z-index: 1;
			-webkit-transition: left 0.5s;
			transition: left 0.5s;
			padding:15px;
			padding-top:45px;
			padding-right: 32px;
			border-left: 1px solid #ccc;
			box-shadow: 0px 0px 6px #ccc;
			overflow:hidden;
		}
		&.reveal {
			left: 50%;
			-webkit-transition: left 0.3s;
			transition: left 0.3s;
		}
		.uploadsTitle {
			display: inline-block;
			font-size: 18px;
			margin-left: 30px;
		}
		.uploadsList {
			position: absolute;
			top: 75px;
			bottom: 0;
			left: 0;
			right: 0;
			font-size: 14px;
			overflow-y:auto;
		}
		.uploadWrap {
			width: 100%;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			height: 50px;
			padding: 5px;
			position: relative;
			display:inline-block;
			padding-left:15px;
			padding-right:32px;
		}
		.reveal .uploadTile {
			opacity:1;
		}
		.uploadTile {
			width: 100%;
			height: 100%;
			border: 1px solid #000;
			border-radius: 3px;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			text-overflow: ellipsis;
			padding: 3px;
			padding-right: 130px;
			white-space: nowrap;
			position:relative;
			box-shadow: 0px 0px 3px #aaa;
			opacity:0;
			transition:opacity 300ms;
			-webkit-transition:opacity 0.3s;
			transition: box-shadow 0.3s;
			-webkit-transition: box-shadow 0.3s;
		}
		.uploadTile .uploadClose {
			cursor: pointer;
			position: absolute;
			top: 8px;
			line-height: 10px;
			padding: 4px;
			right: -26px;
			display: inline-block;
			border-radius: 50%;
			box-sizing:border-box;
			-moz-box-sizing:border-box;
			-webkit-box-sizing:border-box;
			border: 1px solid transparent;
		}
		.uploadTile .uploadClose:hover {
			background: rgba(192, 4, 3, 0.5);
			box-shadow: 0px 1px 3px #000;
			color: #fff;
		}
		.uploadTile .previewWrapper {
			margin:0;
		}
		.uploadTile .uploadFileName {
			margin-left: 4px;
			font-size: 14px;
			position: relative;
			top: -6px;
		}
		.uploadTile .uploadFolder {
			position: absolute;
			bottom: 4px;
			font-size: 10px;
			line-height: 14px;
			left: 40px;
			color: #999;
		}
		.progressSpeed {
			position: absolute;
			right: 5px;
			top: 6px;
			width: 63px;
			text-align: right;
			line-height: 14px;
			font-size: 10px;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			color: #999;
		}
		.progressSpeed::before {
			content: '(';
		}
		.progressSpeed::after {
			content: ')';
		}
		.progressETA {
			position: absolute;
			right: 70px;
			top: 6px;
			width: 63px;
			text-align: right;
			line-height: 14px;
			font-size: 10px;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			color: #999;
		}
		.progressSize {
			position: absolute;
			font-size: 10px;
			right: 5px;
			bottom: 3px;
			text-align: right;
			line-height: 14px;
			color: #999;
		}
		.progressBar {
			background: rgba(31, 92, 143, 0.7);
			width: 0;
			display: inline-block;
			height: 3px;
			position: absolute;
			left: 0;
			bottom: 0;
		}
		.invalid .progressBar {
			background: rgba(192, 4, 3, 0.5);
		}
		.valid .uploadFolder ~ * {
			opacity:0;
			border:none;
			transition:opacity 300ms;
			-webkit-transition:opacity 300ms;
		}
		.valid .uploadFolder ~ .progressSize {
			opacity:1;
		}
	}
	& > .fileViewer {
		position:absolute;
		top:35px;
		bottom:0;
		left:0;
		right:0;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		border-top: 1px solid #CCC;
	}
	& > .pathbar.refresh::after {
		display:inline-block;
		background: url('%{media}/global/devIcons.svg') no-repeat;
		position: absolute;
		width: 18px;
		height: 18px;
		content: '';
		margin-left: 15px;
		background-size:cover;
		background-position: 0px -54px;
		top: 9px;
	}
	& > :last-child .stateViewer {
		padding: 5px;
		background: #fff;
		display:inline-block;
	}
	& > .fileViewer .fileViewerContents,
	& > .fileViewer .fileViewerWrapper {
		height:100%;
	}
	.previewWrapper {
		height: 32px;
		width: 32px;
		margin:5px 0;
		margin-right:8px;
		display:inline-block;
		vertical-align:middle;
		background-size:100% 100%;
		overflow: hidden;
	}
	.previewWrapper:empty {
		background: url('%{media}/INU/fileExplorer/thumbs.svg') no-repeat;
		position:relative;
	}
	[class='previewWrapper']:empty {
		background-position:0px -32px;
		display:inline-block;
	}
	[class='previewWrapper']:empty::after {
		content:attr(data-ext) " ";
		position: absolute;
		bottom: 7px;
		left: 0;
		right:0;
		text-align:center;
		font-size: 7px;
		line-height:8px;
	} 
	.previewWrapper img,
	.previewWrapper embed,
	.previewWrapper svg {
		opacity:0;
	}
	.previewWrapper .reveal {
		opacity:1;
	}
	.previewIcon {
		height: 32px;
		width: 32px;
	}
	.previewWrapper.uploadStatus {
		background: url('%{media}/INU/fileExplorer/uploadResult.svg') no-repeat;
		background-position:48px 0;
		display:inline-block;
	}
	.previewWrapper.uploadingIcon {
		background: url('%{media}/INU/fileExplorer/blue_uploading.svg') no-repeat center;
		display:inline-block;
	}
	.previewWrapper.uploadSuccess {
		background: url('%{media}/INU/fileExplorer/uploadResult.svg') no-repeat;
		background-position:0 0;
		display:inline-block;
	}
	.previewWrapper.uploadError {
		background: url('%{media}/INU/fileExplorer/uploadResult.svg') no-repeat;
		background-position:-48px 0;
		display:inline-block;
	}
	.previewWrapper.folderIcon {
		background-position: 0px 0px;
		display:inline-block;
	}
	.previewWrapper.brokenIcon {
		background: url('%{media}/INU/fileExplorer/brokenFile.png') no-repeat center;
		display:inline-block;
	}
	.previewWrapper.codefi {
		background-position: 0px -32px;
		display:inline-block;
	}
	.previewWrapper.codefi::after {
		content:attr(data-ext) " ";
		position: absolute;
		bottom: 7px;
		left: 0;
		right:0;
		text-align:center;
		font-size: 7px;
		line-height:8px;
	}
	.previewWrapper.documentfi {
		background-position: 0px -128px;
		display:inline-block;
	}
	.previewWrapper.archivefi {
		background-position: 0px -160px;
		display:inline-block;
	}
	.previewWrapper.imagefi {
		background-position: 0px -64px;
		display:inline-block;
	}
	.previewWrapper.audiofi {
		background-position: 0px -96px;
		display:inline-block;
	}
	.previewWrapper.moviefi {
		background-position: 0px -32px;
		display:inline-block;
	}
	.previewWrapper.moviefi::after {
		content:attr(data-ext) " ";
		position: absolute;
		bottom: 7px;
		left: 0;
		right:0;
		text-align:center;
		font-size: 7px;
		line-height:8px;
	}
	.previewWrapper.projectfi {
		background-position: 0px -32px;
		display:inline-block;
	}
	.previewWrapper.projectfi::after {
		content:attr(data-ext) " ";
		position: absolute;
		bottom: 7px;
		left: 0;
		right:0;
		text-align:center;
		font-size: 7px;
		line-height:8px;
	}
	& > .fileViewer .stateViewer {
		width: 100%;
		height: 100%;
		text-align: center;
		position: relative;
		line-height: 25px;
		font-size: 25px;
	}
	& > .fileViewer .stateViewer span {
		position: relative;
		top: 25%;
	}
	& > .fileViewer .successfulUpload,
	& > .fileViewer .failedUpload,
	& > .fileViewer .unkFailedUpload,
	& > .fileViewer .failedConn,
	.folderFail,
	.renameFail {
		font-size: 16px;
	}
	& > .fileViewer .folderName {
		cursor:pointer;
	}
	& > .fileViewer .folderName:hover {
		text-decoration:underline;
	}
	& > .fileViewer .fileName {
		cursor:pointer;
	}
	& > .fileViewer .fileName:hover {
		text-decoration:underline;
	}
	#fediframe {
		display:none;
	}
	& > .folderView {
		display:none;
	}
	.folderViewWrapper {
		position: relative;
		min-width: 400px;
		min-height:165px;
		height: 300px;
		border:1px solid rgb(166, 166, 166);
		background: #fff;
		padding:5px;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		border-radius:5px;
	}
	.fepHeader{
		display:block;
		margin: 0;
		padding: 3px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		line-height: 16px;
		height:30px;
		padding-bottom:8px;
		text-transform:capitalize;
	}
	.fepFolderTreeWrapper {
		position: absolute;
		left: 0;
		right: 0;
		top: 35px;
		bottom: 40px;
		overflow:auto;
		margin: 5px 30px;
		box-shadow: 0px 0px 1px rgb(166, 166, 166);
		padding: 5px;
	}
	.fepFolderTreeWrapper .selected > .treeItemContent {
		background: rgba(0,0,0,0.2);
	}
	& > .messageArea {
		display:none;
	}
	.preventDeleteWrapper {
		position: relative;
		width: 400px;
		min-width:300px;
		min-height:150px;
		height: 150px;
		border:1px solid rgb(166, 166, 166);
		background: #fff;
		padding:5px;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
	}
	.fepControlsWrapper {
		padding: 5px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		min-width: 200px;
		width: 30%;
		text-align: right;
		position: absolute;
		bottom: 0;
		right: 0;
		height: 40px;
		line-height: 32px;
	}
	.fepControlsWrapper button {
		text-transform:capitalize;
	}
	.preventDeleteWrapper > .pdMessageWrapper {
		text-align:justify;
		margin: 5px 30px;
		padding: 5px;
	}
	.hiddenPathPopup {
		font-size: 16px;
		min-width: 300px;
		max-height:500px;
		overflow-y:auto;
		padding:5px;
	}
	.hiddenPathPopup > .pathElement {
		display:block;
		line-height: 30px;
		min-height: 30px;
		padding: 5px;
		border-bottom: 1px solid rgb(166, 166, 166);
		cursor:pointer;
		transition: background 0.3s;
		-webkit-transition: background 0.3s;
	}
	.hiddenPathPopup > .pathElement:first-child,
	.hiddenPathPopup > .pathElement:last-child {
		background: rgba(166, 166, 166, 0.1);
	}
	.hiddenPathPopup > .pathElement:last-child {
		border: none;
	}
	.hiddenPathPopup > .pathElement:hover {
		background: rgba(0, 0, 0, 0.1);
		transition: background 0.3s;
		-webkit-transition: background 0.3s;
	}
	.preferencesArea {
		display:block;
		padding:10px;
		text-align:center;
	}
	& > .preferencesArea {
		display:none;
	}
	& > .notificationsArea {
		display:none;
	}
	.pendingDownload {
		width:400px;
	}
}
.fx-filePreviewWrapper {
	& {
		min-width: 400px;
		position: relative;
		border: 1px solid #ccc;
		height: 100%;
		overflow: hidden;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		background: #fff;
	}
	.fpClose {
		display:block;
		position: absolute;
		top: 18px;
		right: 18px;
		font-size: 16px;
		line-height: 8px;
		cursor: pointer;
		color: #666;
	}
	.fpClose:hover {
		color:#000;
	}
	& >.fpContentWrapper {
		display: inline-block;
		width: 70%;
		height: 100%;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		border-right: 1px solid #ddd;
		padding: 5px;
		overflow: hidden;
		word-wrap: break-word;
		white-space: pre-wrap;
		position:relative;
		text-align: center;
	}
	& >.fpDetailsWrapper {
		display: inline-block;
		width: 30%;
		height: 100%;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		right: 0;
		top: 0;
		padding: 5px;
		background:#fff;
		position:absolute;
		overflow:auto;
	}
	& >.fpDetailsWrapper .fpDetailsName {
		position: relative;
		display: inline-block;
		top: -5px;
		width:75%;
	}
	& >.fpDetailsWrapper .fpDetailsName > * {
		overflow: hidden;
		text-overflow: ellipsis;
		width: 100%;
		white-space: nowrap;
	}
	& >.fpDetailsWrapper .fpDetailsName > :first-child {
		font-weight: bold;
		font-size: 13px;
	}
	& >.fpDetailsWrapper .fpDetailsName > :last-child {
		position: absolute;
		bottom: -13px;
		left: 0;
		font-size: 10px;
	}
	& >.fpDetailsWrapper .fpDetailsFile,
	& >.fpDetailsWrapper .fpDetailsImage {
		text-align:center;
	}
	& >.fpDetailsWrapper .fpDetailsFile > span,
	& >.fpDetailsWrapper .fpDetailsImage > span {
		margin-bottom:10px;
	}
	& >.fpDetailsWrapper .fpDetailsFile > span > :first-child,
	& >.fpDetailsWrapper .fpDetailsImage > span > :first-child {
		font-size:26px;
	}
	& >.fpDetailsWrapper .fpDetailsFile > span > :last-child,
	& >.fpDetailsWrapper .fpDetailsImage > span > :last-child {
		color:#999;
	}
	& >.fpDetailsWrapper .fpDetailsFile,
	& >.fpDetailsWrapper .fpDetailsImage {
		display:block;
		padding: 15px;
		width: 100%;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
	& >.fpDetailsWrapper .fpDetailsFile {
		border-top:1px solid #eee;
		padding-top:50px;
	}
	& >.fpDetailsWrapper .fpDetailsFile span,
	& >.fpDetailsWrapper .fpDetailsImage span {
		display:block;
	}
	& >.fpContentWrapper pre {
		white-space:pre-wrap;
		margin:0;
		font-size:13px;
	}
	& >.fpContentWrapper iframe {
		width:100% !important;
		height:100% !important;
	}
	& >.fpContentWrapper > * {
		display: inline-block;
		vertical-align: middle;
	}
	.fepw {
		height: 32px;
		width: 32px;
		margin:5px 0;
		margin-right:8px;
		display:inline-block;
		vertical-align:middle;
		background-size:100% 100%;
		overflow: hidden;
	}
	.fepw:empty {
		background: url('%{media}/INU/fileExplorer/thumbs.svg') no-repeat;
		position:relative;
	}
	.fpContentWrapper .fepw {
		width:256px;
		height:256px;
		background-size:256px;
	}
	[class='fepw']:empty {
		background-position:0px -32px;
		display:inline-block;
	}
	.fpContentWrapper [class='fepw']:empty {
		background-position:0px -256px;
	}
	[class='fepw']:empty::after {
		content:attr(data-ext) " ";
		position: absolute;
		bottom: 7px;
		left: 0;
		right:0;
		text-align:center;
		font-size: 7px;
		line-height:8px;
	} 
	.fpContentWrapper [class='fepw']:empty::after {
		bottom: 45px;
		font-size: 60px;
		line-height:61px;
		color:#58595b;
	}
	.fepw.codefi {
		background-position: 0px -32px;
		display:inline-block;
	}
	.fpContentWrapper .fepw.codefi {
		background-position: 0px -256px;
	}
	.fepw.codefi::after{
		content:attr(data-ext) " ";
		position: absolute;
		bottom: 7px;
		left: 0;
		right:0;
		text-align:center;
		font-size: 7px;
		line-height:8px;
	}
	.fpContentWrapper .fepw.codefi::after {
		bottom: 45px;
		font-size: 60px;
		line-height:61px;
		color:#58595b;
	}
	.fepw.documentfi {
		background-position: 0px -128px;
		display:inline-block;
	}
	.fpContentWrapper .fepw.documentfi {
		background-position: 0px -1024px;
	}
	.fepw.archivefi {
		background-position: 0px -160px;
		display:inline-block;
	}
	.fpContentWrapper .fepw.archivefi {
		background-position: 0px -1280px;
	}
	.fepw.imagefi {
		background-position: 0px -64px;
		display:inline-block;
	}
	.fpContentWrapper .fepw.imagefi {
		background-position: 0px -512px;
	}
	.fepw.audiofi {
		background-position: 0px -96px;
		display:inline-block;
	}
	.fpContentWrapper .fepw.audiofi {
		background-position: 0px -768px;
	}
	.fepw.moviefi {
		background-position: 0px -32px;
		display:inline-block;
	}
	.fpContentWrapper .fepw.moviefi {
		background-position: 0px -256px;
	}
	.fepw.moviefi::after{
		content:attr(data-ext) " ";
		position: absolute;
		bottom: 7px;
		left: 0;
		right:0;
		text-align:center;
		font-size: 7px;
		line-height:8px;
	}
	.fpContentWrapper .fepw.moviefi::after {
		bottom: 45px;
		font-size: 60px;
		line-height:61px;
		color:#58595b;
	}
	.fepw.projectfi {
		background-position: 0px -32px;
		display:inline-block;
	}
	.fpContentWrapper .fepw.projectfi {	
		background-position: 0px -256px;
	}
	.fepw.projectfi::after{
		content:attr(data-ext) " ";
		position: absolute;
		bottom: 7px;
		left: 0;
		right:0;
		text-align:center;
		font-size: 7px;
		line-height:8px;
	}
	.fpContentWrapper .fepw.projectfi::after {
		bottom: 45px;
		font-size: 60px;
		line-height:61px;
		color:#58595b;
	}
}