.uiToolbar {
	position: absolute;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	overflow: hidden;
	background: #CCC;
}
.uiToolbar.orientH {
	height: 25px;
	width: 100%;
}
.uiToolbar.orientV {
	width: 25px;
	height: 100%;
}
.uiToolbar.dockT {
	top: 0px;
	left: 0px;
	right: 0px;
	border-bottom: 1px solid #999;
}
.uiToolbar.dockB {
	bottom: 0px;
	left: 0px;
	right: 0px;
	border-top: 1px solid #999;
}
.uiToolbar.dockL {
	top: 0px;
	bottom: 0px;
	left: 0px;
	border-right: 1px solid #999;
}
.uiToolbar.dockR {
	top: 0px;
	bottom: 0px;
	right: 0px;
	border-left: 1px solid #999;
}
.toolbarContainer {
	position: relative;
	min-height: 100%;
	height: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.toolbarContainer.dockL {
	padding-left: 25px !important;
}
.toolbarContainer.dockR {
	padding-right: 25px !important;
}
.toolbarContainer.dockT {
	padding-top: 25px !important;
}
.toolbarContainer.dockB {
	padding-bottom: 25px !important;
}