button.tlbButton {
	padding: 2px 5px;
	cursor: pointer;
	background: linear-gradient(#FEFEFE, #f0f0f0);
	background: -webkit-linear-gradient(#FEFEFE, #f0f0f0);
	background: -moz-linear-gradient(#FEFEFE, #f0f0f0);
	border: 1px solid #58585B;
	border-color: #cdced0 #c5c6c8 #b6b7b9;
	color: #545454;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	line-height: 10px;
}