.tlbMenuHeader {
	.toolbarItemMenuContainer {
		display: none;
	}
}
.toolbarItemMenuContainer {
	& {
		padding: 3px;
	}
	.subMenuItem {
		& {
			padding: 5px;
			border-bottom: 1px solid #CCC;
			background-color: #FFF;
			display: block;
			cursor: pointer;
			overflow: auto;
			min-width: 200px;
			line-height: 16px;
			color: #545454;
		}
		&:last-child {
			border-bottom: none;
		}
		&:hover {
			background-color: #545454;
			color: #FFF;
		}
	}
}