.uiMainFooter {
	& {
		overflow: auto;
		max-width: 1200px;
		margin: auto;
		padding: 8px 8px 30px;
		color: #555459;
		box-sizing: border-box;
	}
	.lContainer {
		float: left;
	}
	.rContainer {
		float: right;
	}
	.lContainer .logo {
		display: inline-block;
		font-weight: bold;
	}
	a {
		font-weight: normal;
		display: inline-block;
	}
	a:hover {
		text-decoration: underline;
	}
}
@media screen and (max-width: 500px) {
	.uiMainFooter .lContainer,
	.uiMainFooter .rContainer {
		float: none;
		text-align: center;
		margin: 8px 0px;
	}
}